@charset "UTF-8";
body {
  background-color: #eee;
}

.sitewrap {
  max-width: 1600px;
  min-width: 320px;
  margin: 0 auto;
  position: relative;
}

.sitewrap_menu-open {
  overflow-x: hidden;
}

.sitewrap__inner {
  position: relative;
}

.header {
  display: block;
  height: 165px;
  background-image: url("/img/header-bg1.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  border-bottom: 1px solid #ef7f39;
}

@media only screen and (max-width: 1200px) {
  .header {
    height: 112px;
  }
}

@media only screen and (max-width: 650px) {
  .header {
    height: 101px;
  }
}

@media only screen and (max-width: 575px) {
  .header {
    height: 180px;
    background-image: url(/img/header-bg-mob.jpg);
  }
}

.header__inner {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

@media only screen and (max-width: 1200px) {
  .header__inner {
    width: 100%;
  }
}

.header__logo {
  display: inline-block;
  vertical-align: top;
  padding-top: 32px;
  margin-left: 23px;
}

@media only screen and (max-width: 975px) {
  .header__logo {
    padding-top: 19px;
    margin-left: 95px;
  }
}

@media only screen and (max-width: 650px) {
  .header__logo {
    margin-left: 81px;
    padding-top: 19px;
    text-align: center;
  }
}

@media only screen and (max-width: 1200px) {
  .header__logo-img {
    width: 200px;
  }
}

.header__menu {
  display: inline-block;
  vertical-align: top;
  margin-top: 82px;
  margin-left: 45px;
}

@media only screen and (max-width: 1200px) {
  .header__menu {
    margin-top: 58px;
  }
}

@media only screen and (max-width: 975px) {
  .header__menu {
    display: none;
  }
}

.header__menu-items {
  font-size: 0;
}

.header__menu-item {
  display: inline-block;
  vertical-align: top;
  margin: 0 25px;
  position: relative;
}

@media only screen and (max-width: 1200px) {
  .header__menu-item {
    margin: 0 12px;
  }
}

.header__menu-item:first-child {
  display: inline-block;
  vertical-align: top;
  margin-left: 0;
}

.header__menu-item:last-child {
  display: inline-block;
  vertical-align: top;
  margin-right: 0;
}

.header__menu-item-link {
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
  padding: 5px 1px;
}

.header__menu-item:hover .header__menu-item-link, .header__menu-item-link_active {
  border-bottom: 2px solid #f77f43;
}

.header__menu-sub {
  position: absolute;
  top: 20px;
  left: 0;
  width: 237px;
  padding-top: 16px;
  max-height: 0;
  -webkit-transition: none;
  transition: none;
  overflow: hidden;
  z-index: 1000;
}

.header__menu-item:hover .header__menu-sub {
  max-height: 500px;
  padding-bottom: 11px;
  -webkit-transition: 0.7s max-height linear;
  transition: 0.7s max-height linear;
}

.header__menu-sub-item {
  display: block;
}

.header__menu-sub-bottom {
  display: block;
  height: 10px;
  background-color: #353535;
}

.header__menu-sub-item-link {
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
  padding: 11px 14px;
  display: block;
  background-color: #353535;
}

.header__menu-sub-item-link:hover {
  background-color: #555;
}

.header__contacts {
  display: inline-block;
  vertical-align: top;
  float: right;
  width: 314px;
  height: 111px;
  background-color: #333333;
  background-image: url("/img/yellow-gray-line.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-left: 16px;
  padding-top: 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media only screen and (max-width: 975px) {
  .header__contacts {
    background-color: transparent;
  }
}

@media only screen and (max-width: 650px) {
  .header__contacts {
    width: 281px;
    background-image: none;
    text-align: left;
    margin-top: 13px;
    padding-top: 8px;
    padding-bottom: 10px;
    background-color: rgba(238, 238, 238, 0.05);
    height: auto;
  }
}

@media only screen and (max-width: 575px) {
  .header__contacts {
    display: block;
    width: 100%;
    padding-bottom: 15px;
    padding-left: 88px;
  }
}

@media only screen and (max-width: 353px) {
  .header__contacts {
    padding-left: 30px;
  }
}

.header__contacts-phone {
  display: inline-block;
  vertical-align: top;
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

@media only screen and (max-width: 650px) {
  .header__contacts-phone {
    font-size: 16px;
  }
}

.header__contacts-email {
  display: inline-block;
  vertical-align: top;
  color: #fac832;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  margin-left: 22px;
}

@media only screen and (max-width: 650px) {
  .header__contacts-email {
    font-size: 16px;
  }
}

.header__contacts-address {
  color: #d1d1d1;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  margin-top: 10px;
}

@media only screen and (max-width: 650px) {
  .header__contacts-address {
    font-size: 14px;
    margin-top: 5px;
  }
}

@media only screen and (max-width: 575px) {
  .header__contacts-address {
    margin-top: 7px;
  }
}

.header__contacts-delivery {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  margin-top: 12px;
}

@media only screen and (max-width: 650px) {
  .header__contacts-delivery {
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
  }
}

@media only screen and (max-width: 575px) {
  .header__contacts-delivery {
    margin-top: 9px;
  }
}

.header__recall {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 314px;
  height: 124px;
  background-color: #333333;
}

.header__recall-title {
  color: #fac832;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
}

.header__recall-text {
  color: #ffffff;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
}

.header__recall-btn {
  width: 289px;
  height: 33px;
  line-height: 33px;
  background-color: #fe8708;
  text-align: center;
  color: #ffffff;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
}

.mobile-menu-btn {
  display: none;
  position: fixed;
  width: 51px;
  height: 51px;
  top: 10px;
  left: 10px;
  background-image: url(/img/mobile-menu.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 1004;
  border: 2px solid #3e3e3e;
  border-radius: 12px;
}

@media only screen and (max-width: 975px) {
  .mobile-menu-btn {
    display: block;
  }
}

.mobile-menu-btn_open {
  display: none;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: -240px;
  width: 240px;
  height: 100%;
  background-color: rgba(27, 27, 27, 0.9);
  z-index: 1004;
  border-left: 3px solid #ff8400;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mobile-menu_visible {
  left: 0;
}

.mobile-menu__list {
  padding-top: 40px;
}

.mobile-menu__list-item {
  margin: 21px 0;
}

.mobile-menu__list-item-link {
  font-family: Roboto;
  font-size: 17px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
}

.mobile-menu__sublist {
  margin: 20px 0;
}

.mobile-menu__sublist-item {
  margin: 18px 0;
}

.mobile-menu__sublist-item-link {
  font-family: Roboto;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
}

.main-slider {
  position: relative;
}

.main-slider .slick-list {
  overflow: hidden;
}

.main-slider__dots {
  position: absolute;
  bottom: 10px;
  right: 50%;
  margin-right: 38px;
  z-index: 1000;
}

@media only screen and (max-width: 1200px) {
  .main-slider__dots {
    right: 630px;
    margin-right: 0;
  }
}

@media only screen and (max-width: 700px) {
  .main-slider__dots {
    bottom: 8px;
    right: 50%;
    margin-right: -8px;
  }
}

.main-slider__dots li {
  display: inline-block;
  vertical-align: top;
  margin: 0 6px;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background-color: #7a2f01;
}

.main-slider__dots .slick-active {
  background-color: #a44105;
}

.main-slider__dots button {
  display: none;
}

.main-slider__slide {
  height: 280px;
  display: inline-block;
  vertical-align: top;
}

.main-slider__slide_cutters {
  background-image: url("/img/main-cutters-bg.jpg");
  background-position: top center;
}

@media only screen and (max-width: 592px) {
  .main-slider__slide_cutters {
    background-position: -390px 0;
  }
}

.main-slider__slide_plates {
  background-position: top center;
  background-image: url("/img/main-plates-bg.jpg");
}

@media only screen and (max-width: 1100px) {
  .main-slider__slide_plates {
    background-position: -230px 0;
  }
}

@media only screen and (max-width: 960px) {
  .main-slider__slide_plates {
    background-position: -630px 0;
  }
}

@media only screen and (max-width: 592px) {
  .main-slider__slide_plates {
    background-position: -850px 0;
  }
}

.main-slider__slide-inner {
  width: 1200px;
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .main-slider__slide-inner {
    width: 100%;
  }
}

.main-slider__slide-info {
  display: inline-block;
  width: 592px;
  height: 136px;
  float: right;
  margin-top: 144px;
  padding: 21px;
  padding-right: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 4px -3px 5px rgba(131, 131, 131, 0.47);
  box-shadow: 4px -3px 5px rgba(131, 131, 131, 0.47);
  background-color: rgba(255, 132, 0, 0.94);
  color: #ffffff;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
}

@media only screen and (max-width: 592px) {
  .main-slider__slide-info {
    width: 100%;
    font-size: 18px;
    line-height: 24px;
    padding: 20px;
    height: 124px;
    margin-top: 156px;
  }
}

@media only screen and (max-width: 414px) {
  .main-slider__slide-info {
    height: 168px;
    margin-top: 113px;
  }
}

.maincat {
  width: 1178px;
  margin: 0 auto;
  padding-bottom: 10px;
  padding-top: 30px;
}

@media only screen and (max-width: 1200px) {
  .maincat {
    width: 100%;
    padding-top: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 460px) {
  .maincat {
    background-color: #fff;
  }
}

.maincat_last {
  padding-bottom: 80px;
}

@media only screen and (max-width: 1200px) {
  .maincat__head {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 4%;
  }
}

.maincat__title {
  display: inline-block;
  vertical-align: top;
  color: #434343;
  font-family: Roboto;
  font-size: 37px;
  font-weight: 400;
}

.maincat .search-form {
  display: inline-block;
  vertical-align: top;
  float: right;
  margin-top: 9px;
}

@media only screen and (max-width: 750px) {
  .maincat .search-form {
    float: none;
    display: block;
    margin-top: 18px;
  }
}

.maincat .search-form__inp {
  display: inline-block;
  vertical-align: top;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  color: #444;
  line-height: 30px;
  height: 31px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  padding-left: 10px;
  border: 1px solid #cbcbcb;
  width: 300px;
  outline: none;
}

@media only screen and (max-width: 750px) {
  .maincat .search-form__inp {
    width: 230px;
  }
}

.maincat .search-form__btn {
  display: inline-block;
  vertical-align: top;
  width: 31px;
  height: 30px;
  margin: 0 auto;
  background-color: #00aeef;
  background-image: url("/img/search.png");
  background-repeat: no-repeat;
  background-position: 4px 5px;
  text-align: center;
  color: #ffffff;
  border: none;
}

.maincat .search-form__btn:hover {
  background-color: #1dc0fd;
}

.maincat__items {
  margin-top: 32px;
  font-size: 0;
}

@media only screen and (max-width: 1200px) {
  .maincat__items {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 4%;
  }
}

.maincat__item {
  display: inline-block;
  vertical-align: top;
  width: 379px;
  height: 164px;
  margin: 0 10px;
  margin-bottom: 16px;
  background-color: #ffffff;
  font-size: 0;
}

@media only screen and (max-width: 1200px) {
  .maincat__item {
    width: 32%;
    margin: 0px 1%;
    margin-bottom: 16px;
  }
}

@media only screen and (max-width: 975px) {
  .maincat__item {
    width: 48%;
    margin: 0px 1%;
    margin-bottom: 16px;
  }
}

@media only screen and (max-width: 750px) {
  .maincat__item {
    display: block;
    width: 100%;
  }
}

@media only screen and (max-width: 460px) {
  .maincat__item {
    border-bottom: 1px solid #f6f5f5;
    padding-bottom: 13px;
    margin-bottom: 10px;
  }
}

.maincat__item_first {
  margin-left: 0;
}

@media only screen and (max-width: 975px) {
  .maincat__item_first {
    margin: 0px 1%;
    margin-bottom: 16px;
  }
}

@media only screen and (max-width: 460px) {
  .maincat__item_first {
    border-bottom: 1px solid #f6f5f5;
    padding-bottom: 13px;
    margin-bottom: 10px;
  }
}

.maincat__item_last {
  margin-right: 0;
}

@media only screen and (max-width: 975px) {
  .maincat__item_last {
    margin: 0px 1%;
    margin-bottom: 16px;
  }
}

@media only screen and (max-width: 460px) {
  .maincat__item_last {
    border-bottom: 1px solid #f6f5f5;
    padding-bottom: 13px;
    margin-bottom: 10px;
  }
}

.maincat__allcats {
  display: block;
  width: 299px;
  height: 36px;
  line-height: 36px;
  margin: 0 auto;
  background-color: #00aeef;
  text-align: center;
  color: #ffffff;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
  margin-top: 15px;
  text-decoration: none;
}

@media only screen and (max-width: 975px) {
  .maincat__allcats {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    height: 164px;
    margin: 0px 1%;
    margin-bottom: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 45px;
    padding-left: 141px;
    background-image: url(/img/allcatalog.png);
    background-repeat: no-repeat;
    background-position: 27px 39px;
    font-size: 25px;
    font-weight: 300;
    text-align: left;
  }
}

@media only screen and (max-width: 750px) {
  .maincat__allcats {
    display: block;
    width: 299px;
    height: 36px;
    line-height: 36px;
    margin: 0 auto;
    padding: 0;
    background-color: #00aeef;
    background-image: none;
    text-align: center;
    color: #ffffff;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 400;
    margin-top: 15px;
    text-decoration: none;
  }
}

.maincat__allcats:hover {
  background-color: #00baff;
}

.maincat__item-clm1 {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  height: 100%;
  padding-top: 12px;
}

@media only screen and (max-width: 1200px) {
  .maincat__item-clm1 {
    width: 40%;
  }
}

@media only screen and (max-width: 750px) {
  .maincat__item-clm1 {
    width: 30%;
  }
}

@media only screen and (max-width: 620px) {
  .maincat__item-clm1 {
    width: 40%;
  }
}

.maincat__item-clm2 {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  height: 100%;
  position: relative;
  padding-top: 14px;
  padding-left: 7px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media only screen and (max-width: 1200px) {
  .maincat__item-clm2 {
    width: 60%;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 750px) {
  .maincat__item-clm2 {
    width: 45%;
    margin-left: 25%;
    padding-right: 25px;
  }
}

@media only screen and (max-width: 620px) {
  .maincat__item-clm2 {
    width: 60%;
    margin-left: 0;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 620px) {
  .maincat__item-clm2 {
    padding-right: 30px;
  }
}

@media only screen and (max-width: 460px) {
  .maincat__item-clm2 {
    padding-right: 5px;
  }
}

.maincat__item-img-wr {
  position: relative;
  overflow: hidden;
  width: 108px;
  height: 111px;
  margin: 0 auto;
}

.maincat__item-img {
  position: absolute;
  top: 0;
  left: 0;
}

.maincat__item-status {
  color: #ff5400;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  margin-top: 12px;
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  .maincat__item-status {
    font-size: 12px;
  }
}

.maincat__item-title {
  color: #292727;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  height: 40px;
  text-decoration: none;
}

.maincat__item-title:hover {
  color: #ff8400;
}

.maincat__item-params {
  margin-top: 11px;
  padding-left: 4px;
}

.maincat__item-param {
  padding: 4px 0;
}

.maincat__item-param-name {
  display: inline-block;
  vertical-align: top;
  color: #7d7d7d;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
}

.maincat__item-param-val {
  display: inline-block;
  vertical-align: top;
  float: right;
  color: #121212;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
}

.maincat__item-bottom {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  padding-left: 9px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media only screen and (max-width: 1200px) {
  .maincat__item-bottom {
    padding-right: 10px;
  }
}

@media only screen and (max-width: 750px) {
  .maincat__item-bottom {
    padding-right: 25px;
  }
}

@media only screen and (max-width: 620px) {
  .maincat__item-bottom {
    padding-right: 30px;
  }
}

@media only screen and (max-width: 460px) {
  .maincat__item-bottom {
    padding-right: 5px;
  }
}

.maincat__item-price {
  display: inline-block;
  vertical-align: top;
  color: #392c10;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
}

.maincat__item-orderBtn {
  display: inline-block;
  vertical-align: top;
  float: right;
  width: 84px;
  height: 25px;
  line-height: 25px;
  background-color: #a43013;
  text-align: center;
  color: #ffffff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}

.maincat__item-orderBtn:hover, .maincat__item-orderBtn:focus {
  background-color: #cd2d05;
}

.catalog {
  background-color: #fff;
  width: 100%;
  height: 100%;
  min-height: 700px;
  padding-top: 30px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.catalog__title {
  color: #434343;
  font-family: Roboto;
  font-size: 37px;
  font-weight: 400;
  padding: 0 40px;
}

@media only screen and (max-width: 685px) {
  .catalog__title {
    padding: 0 20px;
  }
}

.catalog__table-wrap {
  padding: 0 40px;
  padding-top: 30px;
  padding-bottom: 50px;
}

@media only screen and (max-width: 1054px) {
  .catalog__table-wrap {
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (max-width: 685px) {
  .catalog__table-wrap {
    padding-top: 15px;
  }
}

.catalog .dataTables_wrapper {
  position: relative;
}

.catalog .dataTables_filter {
  position: absolute;
  top: -60px;
  right: 0;
}

@media only screen and (max-width: 1054px) {
  .catalog .dataTables_filter {
    right: 20px;
  }
}

@media only screen and (max-width: 685px) {
  .catalog .dataTables_filter {
    position: relative;
    top: 0;
    margin-left: 20px;
    margin-bottom: 20px;
    right: unset;
  }
}

.catalog .dataTables_filter input[type="search"] {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  color: #444;
  line-height: 31px;
  padding: 0;
  padding-left: 10px;
  border: 1px solid #cbcbcb;
  width: 300px;
}

.catalog .dataTables_empty {
  padding-top: 50px;
  padding-left: 19px;
  font-size: 24px;
  font-family: Roboto;
}

.catalog .catalog-table {
  width: 100%;
  border-collapse: collapse;
}

.catalog .catalog-table__thead {
  border-bottom: 2px solid #282828;
}

.catalog .catalog-table__tr {
  background-color: #fff;
  height: 93px;
}

.catalog .catalog-table__tr_head {
  background-color: #444;
  height: 70px;
}

.catalog .catalog-table__tr_body {
  border-bottom: 1px solid #eee;
}

.catalog .catalog-table__th {
  color: #fff;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  padding: 6px;
  text-align: left;
}

.catalog .catalog-table__th:hover {
  color: #ddd;
}

.catalog .catalog-table .sorting_asc {
  background-image: url("/img/sort_asc.png");
  background-repeat: no-repeat;
  color: #dc7133;
}

.catalog .catalog-table .sorting_asc:hover {
  color: #dc7133;
}

.catalog .catalog-table .sorting_desc {
  background-image: url("/img/sort_desc.png");
  background-repeat: no-repeat;
  color: #dc7133;
}

.catalog .catalog-table .sorting_desc:hover {
  color: #dc7133;
}

.catalog .catalog-table__th-name {
  background-position: 150px 27px;
  padding-left: 23px;
}

.catalog .catalog-table__th-derj {
  background-position: 93px 27px;
}

.catalog .catalog-table__th-plast {
  background-position: 86px 27px;
}

.catalog .catalog-table__th-size {
  background-position: 71px 27px;
}

.catalog .catalog-table__th-country {
  background-position: 133px 27px;
}

.catalog .catalog-table__th-comment {
  background-position: 107px 27px;
}

.catalog .catalog-table__th-price {
  background-position: 50px 27px;
}

.catalog .catalog-table__th-stock {
  background-position: 79px 27px;
}

.catalog .catalog-table__th-img {
  background-image: none !important;
}

.catalog .catalog-table__td {
  padding: 6px;
  text-align: left;
  color: #282828;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
}

.catalog .catalog-table__td-img {
  width: 400px;
  padding-left: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.catalog .catalog-table__item-name {
  width: 160px;
  font-size: 16px;
  padding-left: 15px;
}

.catalog .catalog-table__item-catalog {
  display: inline-block;
  vertical-align: top;
  width: 84px;
  height: 25px;
  line-height: 25px;
  background-color: #0043d9;
  text-align: center;
  color: #ffffff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
}

.catalog .catalog-table__item-img-wrap {
  width: 330px;
}

.catalog .catalog-table__item-img1-link {
  display: inline-block;
  vertical-align: top;
  width: 160px;
  overflow: hidden;
}

.catalog .catalog-table__item-img1 {
  display: inline-block;
  vertical-align: top;
}

.catalog .catalog-table__item-img2-link {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  width: 140px;
  overflow: hidden;
}

.catalog .catalog-table__item-img2 {
  display: inline-block;
  vertical-align: top;
}

.catalog .catalog-table__orderBtn {
  display: inline-block;
  vertical-align: top;
  width: 84px;
  height: 25px;
  line-height: 25px;
  background-color: #a43013;
  text-align: center;
  color: #ffffff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}

@media only screen and (max-width: 975px) {
  .catalog {
    /* Hide table headers (but not display: none;, for accessibility) */
  }
  .catalog .catalog-table,
  .catalog .catalog-table__thead,
  .catalog .catalog-table__tbody,
  .catalog .catalog-table__tr,
  .catalog .catalog-table__th,
  .catalog .catalog-table__td {
    display: block;
  }
  .catalog .catalog-table__tr_head {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .catalog .catalog-table__tr {
    border: 1px solid #ccc;
    height: auto;
  }
  .catalog .catalog-table__td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 40%;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .catalog .catalog-table__td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 15px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  .catalog .catalog-table__td-img {
    border-bottom: none;
    width: auto;
  }
  .catalog .catalog-table__item-name {
    padding-left: 0;
  }
  .catalog .catalog-table__orderBtn {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 685px) {
  .catalog .catalog-table__item-img-wrap {
    width: auto;
  }
}

@media only screen and (max-width: 975px) {
  .catalog_cutters .catalog-table__td:nth-of-type(1):before {
    content: "Наименование";
  }
  .catalog_cutters .catalog-table__td:nth-of-type(3):before {
    content: "Державка";
  }
  .catalog_cutters .catalog-table__td:nth-of-type(4):before {
    content: "Пластина";
  }
  .catalog_cutters .catalog-table__td:nth-of-type(5):before {
    content: "Цена";
  }
  .catalog_cutters .catalog-table__td:nth-of-type(6):before {
    content: "Наличие";
  }
}

@media only screen and (max-width: 975px) {
  .catalog_plates .catalog-table__td:nth-of-type(1):before {
    content: "Наименование";
  }
  .catalog_plates .catalog-table__td:nth-of-type(2):before {
    content: "Размер";
  }
  .catalog_plates .catalog-table__td:nth-of-type(3):before {
    content: "Производитель";
  }
  .catalog_plates .catalog-table__td:nth-of-type(4):before {
    content: "Примечание";
  }
  .catalog_plates .catalog-table__td:nth-of-type(5):before {
    content: "Цена";
  }
  .catalog_plates .catalog-table__td:nth-of-type(6):before {
    content: "Наличие";
  }
}

.contacts {
  min-height: 700px;
  padding-top: 50px;
  width: 970px;
  margin: 0 auto;
}

@media only screen and (max-width: 1040px) {
  .contacts {
    width: 100%;
    padding: 0 30px;
    padding-top: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 880px) {
  .contacts {
    padding-left: 0;
    padding-right: 0;
  }
}

.contacts__info {
  display: inline-block;
  vertical-align: top;
  width: 375px;
  padding-top: 20px;
}

@media only screen and (max-width: 880px) {
  .contacts__info {
    display: block;
    margin: 0 auto;
    margin-bottom: 80px;
  }
}

@media only screen and (max-width: 420px) {
  .contacts__info {
    width: 100%;
    padding: 0 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.contacts__info-line {
  padding-left: 64px;
  background-repeat: no-repeat;
  background-position: 0 0;
  color: #0e0e0e;
  font-family: Roboto;
  height: 33px;
  margin-bottom: 10px;
  text-align: left;
}

@media only screen and (max-width: 420px) {
  .contacts__info-line {
    padding-left: 44px;
  }
}

.contacts__info-line_address {
  font-size: 18px;
  font-weight: 400;
  background-image: url("/img/address.png");
}

@media only screen and (max-width: 420px) {
  .contacts__info-line_address {
    font-size: 14px;
  }
}

.contacts__info-line_phone {
  font-size: 21px;
  font-weight: 400;
  background-image: url("/img/phone.png");
}

@media only screen and (max-width: 420px) {
  .contacts__info-line_phone {
    font-size: 14px;
  }
}

.contacts__info-line_mail {
  font-size: 18px;
  font-weight: 700;
  background-image: url("/img/mail.png");
}

@media only screen and (max-width: 420px) {
  .contacts__info-line_mail {
    font-size: 14px;
  }
}

.contacts__info-line_deliver {
  font-size: 18px;
  font-weight: 700;
}

@media only screen and (max-width: 420px) {
  .contacts__info-line_deliver {
    font-size: 14px;
  }
}

.contacts__form {
  display: inline-block;
  vertical-align: top;
  width: 403px;
  height: 410px;
  background-color: #e6e6e6;
  float: right;
}

@media only screen and (max-width: 880px) {
  .contacts__form {
    display: block;
    margin: 0 auto;
    float: none;
    width: 100%;
  }
}

.contacts__form-head {
  background-image: url(/img/contacts-form-bg.png);
  background-repeat: no-repeat;
  height: 52px;
  line-height: 52px;
  padding-left: 46px;
  color: #ff8b3e;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 700;
}

@media only screen and (max-width: 880px) {
  .contacts__form-head {
    text-align: center;
    padding-left: 0;
  }
}

.contacts__form-inp {
  padding-left: 42px;
  padding-right: 54px;
  margin: 20px 0;
}

@media only screen and (max-width: 880px) {
  .contacts__form-inp {
    width: 309px;
    margin: 20px auto;
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (max-width: 360px) {
  .contacts__form-inp {
    width: 270px;
  }
}

.contacts__form-inp-label {
  color: #343434;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

.contacts__form-inp-req {
  float: right;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 700;
  color: #d00;
  visibility: hidden;
  opacity: 0;
}

.contacts__form-inp-val {
  width: 299px;
  line-height: 30px;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding-left: 10px;
  background-color: #FBFCFE;
  outline: none;
}

@media only screen and (max-width: 360px) {
  .contacts__form-inp-val {
    width: 260px;
  }
}

.contacts__form-sendBtn {
  display: inline-block;
  vertical-align: top;
  width: 127px;
  height: 31px;
  line-height: 31px;
  background-color: #ff8400;
  text-align: center;
  color: #ffffff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}

.contacts__form-success {
  display: none;
}

.contacts__form-success-text {
  font-family: Roboto;
  font-weight: 400;
  color: #444;
  font-size: 17px;
  text-align: center;
  padding: 0 30px;
  padding-top: 130px;
}

.contacts__form-fail {
  display: none;
}

.contacts__form-fail-text {
  font-family: Roboto;
  font-weight: 400;
  color: #444;
  font-size: 17px;
  text-align: center;
  padding: 0 30px;
  padding-top: 130px;
}

.contacts__form-sending {
  display: none;
  padding-top: 100px;
  text-align: center;
}

.contacts__form-sending-img {
  width: 80px;
}

.error .contacts__form-inp-val {
  background-color: #ffdcdc;
}

.error .contacts__form-inp-req {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

.sending .contacts__form-sending {
  display: block;
}

.sending .contacts__form-inputs {
  display: none;
}

.success .contacts__form-success {
  display: block;
}

.success .contacts__form-inputs {
  display: none;
}

.fail .contacts__form-fail {
  display: block;
}

.fail .contacts__form-inputs {
  display: none;
}

.footer {
  display: block;
  height: 114px;
  background-color: #363636;
  background-image: url("/img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

@media only screen and (max-width: 460px) {
  .footer {
    height: 200px;
  }
}

.footer__inner {
  width: 1200px;
  margin: 0 auto;
  padding-top: 31px;
  font-size: 0;
}

@media only screen and (max-width: 1200px) {
  .footer__inner {
    width: 100%;
  }
}

@media only screen and (max-width: 460px) {
  .footer__inner {
    position: relative;
    padding-top: 22px;
  }
}

.footer__logo {
  display: inline-block;
  vertical-align: top;
  padding-left: 22px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 35%;
}

@media only screen and (max-width: 460px) {
  .footer__logo {
    position: absolute;
    top: 127px;
    padding-left: 12px;
  }
}

.footer__logo-img {
  width: 135px;
}

.footer__logo-year {
  color: #ff5400;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
  margin-top: 10px;
  margin-left: 5px;
}

@media only screen and (max-width: 460px) {
  .footer__logo-year {
    margin-top: 5px;
  }
}

.footer__info {
  display: inline-block;
  vertical-align: top;
  width: 65%;
}

@media only screen and (max-width: 460px) {
  .footer__info {
    width: 100%;
    padding-left: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.footer__delivery {
  display: inline-block;
  vertical-align: top;
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
}

@media only screen and (max-width: 950px) {
  .footer__delivery {
    display: block;
    text-align: right;
    padding-right: 68px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 750px) {
  .footer__delivery {
    font-size: 14px;
    padding-right: 45px;
    margin-bottom: 13px;
  }
}

@media only screen and (max-width: 460px) {
  .footer__delivery {
    text-align: left;
  }
}

.footer__contacts {
  display: inline-block;
  vertical-align: top;
  float: right;
  padding-right: 33px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media only screen and (max-width: 460px) {
  .footer__contacts {
    float: none;
  }
}

.footer__contacts-line {
  margin-bottom: 10px;
}

.footer__contacts-phone {
  display: inline-block;
  vertical-align: top;
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

@media only screen and (max-width: 750px) {
  .footer__contacts-phone {
    font-size: 14px;
  }
}

.footer__contacts-email {
  display: inline-block;
  vertical-align: top;
  color: #fac832;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  margin-left: 30px;
  text-decoration: none;
}

@media only screen and (max-width: 750px) {
  .footer__contacts-email {
    font-size: 14px;
  }
}

.footer__contacts-address {
  color: #d1d1d1;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
}

@media only screen and (max-width: 750px) {
  .footer__contacts-address {
    font-size: 14px;
  }
}

.order-popup {
  position: absolute;
  left: 50%;
  margin-left: -229px;
  width: 460px;
  padding-bottom: 15px;
  -webkit-box-shadow: 0 0 7px 1px rgba(28, 28, 28, 0.35);
  box-shadow: 0 0 7px 1px rgba(28, 28, 28, 0.35);
  background-color: #ffffff;
  border-top: 12px solid #9b9b9b;
  z-index: 1002;
  display: none;
}

@media only screen and (max-width: 460px) {
  .order-popup {
    width: 100%;
    left: 0;
    margin-left: 0;
  }
}

.order-popup_visible {
  display: block;
}

.order-popup__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.62);
  z-index: 1001;
  display: none;
}

.order-popup__bg_visible {
  display: block;
}

.order-popup__prod {
  padding: 0 20px;
  padding-top: 10px;
  margin-bottom: 30px;
}

.order-popup__prod-img-wr {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 175px;
  height: 80px;
  overflow: hidden;
  margin-right: 10px;
}

@media only screen and (max-width: 460px) {
  .order-popup__prod-img-wr {
    display: block;
    width: auto;
  }
}

.order-popup__prod-img {
  display: inline-block;
  vertical-align: top;
}

.order-popup__prod-name {
  display: inline-block;
  vertical-align: top;
  width: 227px;
  margin-top: 20px;
  color: #343434;
  font-family: Roboto;
  font-size: 19px;
  font-weight: 400;
}

@media only screen and (max-width: 460px) {
  .order-popup__prod-name {
    display: block;
    width: auto;
    text-align: center;
  }
}

.order-popup__inp {
  padding-left: 70px;
  padding-right: 83px;
  margin: 20px 0;
}

@media only screen and (max-width: 460px) {
  .order-popup__inp {
    margin: 20px auto;
    padding-left: 0;
    width: 290px;
  }
}

.order-popup__inp-label {
  color: #343434;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

.order-popup__inp-req {
  float: right;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 700;
  color: #d00;
  visibility: hidden;
  opacity: 0;
}

.order-popup__inp-val {
  width: 299px;
  line-height: 30px;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding-left: 10px;
  background-color: #FBFCFE;
  outline: none;
}

@media only screen and (max-width: 460px) {
  .order-popup__inp-val {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.order-popup__sendBtn {
  display: inline-block;
  vertical-align: top;
  width: 127px;
  height: 31px;
  line-height: 31px;
  background-color: #ff8400;
  text-align: center;
  color: #ffffff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}

.order-popup__closeBtn {
  display: block;
  width: 127px;
  height: 31px;
  line-height: 31px;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: #00aeef;
  text-align: center;
  color: #ffffff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}

.order-popup__success {
  display: none;
}

.order-popup__success-text {
  font-family: Roboto;
  font-weight: 400;
  color: #444;
  font-size: 17px;
  text-align: center;
  padding: 80px 30px;
}

.order-popup__fail {
  display: none;
}

.order-popup__fail-text {
  font-family: Roboto;
  font-weight: 400;
  color: #444;
  font-size: 17px;
  text-align: center;
  padding: 80px 30px;
}

.order-popup__sending {
  display: none;
  padding: 100px 0;
  text-align: center;
}

.order-popup__sending-img {
  width: 80px;
}

.error .order-popup__inp-val {
  background-color: #ffdcdc;
}

.error .order-popup__inp-req {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

.sending .order-popup__sending {
  display: block;
}

.sending .order-popup__inputs {
  display: none;
}

.success .order-popup__success {
  display: block;
}

.success .order-popup__inputs {
  display: none;
}

.fail .order-popup__fail {
  display: block;
}

.fail .order-popup__inputs {
  display: none;
}
