$catalog_size1: "only screen and (max-width : 1054px)";
$catalog_size2: "only screen and (max-width : 975px)";
$catalog_size3: "only screen and (max-width : 685px)";

.catalog {
  background-color: #fff;
  width: 100%;
  height: 100%;
  min-height: 700px;
  padding-top: 30px;
  box-sizing: content-box;

  &__title {
    color: #434343;
    font-family: Roboto;
    font-size: 37px;
    font-weight: 400;
    padding:0 40px;    

    @media #{$catalog_size3}{
      padding:0 20px;
    }    
  }

  &__table-wrap {
    padding:0 40px;
    padding-top:30px;
    padding-bottom:50px;

    @media #{$catalog_size1}  {
      padding-left: 0;
      padding-right: 0;
    }

    @media #{$catalog_size3}{
      padding-top: 15px;
    }
  } 

  .dataTables_wrapper {
    position:relative;
  }

  .dataTables_filter {
    position: absolute;
    top: -60px;
    right: 0;

    @media #{$catalog_size1}  {
      right: 20px;
    }

    @media #{$catalog_size3}  {
      position: relative;
      top: 0;
      margin-left: 20px;
      margin-bottom: 20px;
      right: unset;
    }

    input[type="search"] {
      font-family: Roboto;
      font-weight: 400;
      font-size: 16px;
      color: #444;
      line-height: 31px;
      padding: 0;
      padding-left: 10px;
      border: 1px solid #cbcbcb;
      width: 300px;
    }
  }

  .dataTables_empty {
    padding-top: 50px;
    padding-left: 19px;
    font-size: 24px;
    font-family: Roboto;
  }


  .catalog-table {

    width: 100%; 
    border-collapse: collapse; 
    
    &__thead {
      border-bottom:2px solid #282828;  
    }

    &__tr {
      background-color: #fff;
      height: 93px;
    }

    &__tr_head {
      background-color: #444;
      height: 70px;
    }

    &__tr_body {
      border-bottom:1px solid #eee;
    }

    &__th {
      color: #fff;
      font-family: Roboto;
      font-size: 17px;
      font-weight: 700;
      outline: none;
      cursor: pointer;  
      padding: 6px; 
      text-align: left; 
    }

    &__th:hover {
      color: #ddd;
    }

    .sorting_asc {
      background-image: url('/img/sort_asc.png');    
      background-repeat:no-repeat;
      color: #dc7133;   
    }

    .sorting_asc:hover {
      color: #dc7133;
    }

    .sorting_desc {
      background-image: url('/img/sort_desc.png');    
      background-repeat:no-repeat;
      color: #dc7133;
    }

    .sorting_desc:hover {
      color: #dc7133;
    }

    &__th-name {
      background-position: 150px 27px;
      padding-left: 23px;
    }

    &__th-derj {
      background-position:93px 27px;
    }

    &__th-plast {
      background-position:86px 27px;
    }

    &__th-size {
      background-position:71px 27px;
    }

    &__th-country {
      background-position:133px 27px;
    }

    &__th-comment {
      background-position:107px 27px;
    }

    &__th-price {
      background-position:50px 27px;
    }

    &__th-stock {
      background-position:79px 27px;
    }

    &__th-img {
      background-image:none!important;
    }

    &__tbody {

    }

    &__td {
      padding: 6px; 
      text-align: left; 
      color: #282828;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
    }  

    &__td:first-child,th:first-child {
      
    }  

    &__td-img {
      width: 400px;
      padding-left: 40px;
      box-sizing:border-box;
    }


    &__item-name {        
      width: 160px;
      font-size: 16px;
      padding-left: 15px;
    }

    &__item-catalog {
      display: inline-block;
      vertical-align: top;
      width: 84px;
      height: 25px;
      line-height: 25px;
      background-color: #0043d9;
      text-align: center;
      color: #ffffff;
      font-family: Roboto;
      font-size: 15px;
      font-weight: 400;
      cursor: pointer;
      text-decoration: none;
    }

    &__item-derj {
      
    }

    &__item-plast {
      
    }

    &__item-size {
      //width: 90px;
    }

    &__item-country {
      
    }

    &__item-comment {
      
    }

    &__item-price {
    }

    &__item-stock {
    }

    &__item-img-wrap {
      width: 330px;
      
    }

    &__item-img1-link {
      display: inline-block;
      vertical-align: top;
      width: 160px;
      overflow:hidden;
    }


    &__item-img1 {
      display: inline-block;
      vertical-align: top;      
    }

    &__item-img2-link {
      display: inline-block;
      vertical-align: top;
      margin-left: 10px;
      width: 140px;
      overflow:hidden;
    }

    &__item-img2 {
      display: inline-block;
      vertical-align: top;
    }

    &__orderBtn {
      display: inline-block;
      vertical-align: top;
      width: 84px;
      height: 25px;
      line-height: 25px;
      background-color: #a43013;
      text-align: center;
      color: #ffffff;
      font-family: Roboto;
      font-size: 15px;
      font-weight: 400;
      cursor: pointer;
    }
  }

  @media #{$catalog_size2}  {
    .catalog-table,
    .catalog-table__thead,
    .catalog-table__tbody,
    .catalog-table__tr,
    .catalog-table__th,
    .catalog-table__td {
      display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .catalog-table {
      &__tr_head {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }

      &__tr {
        border: 1px solid #ccc;
        height: auto;
      }

      &__td {
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 40%; 
        padding-top: 15px;
        padding-bottom: 15px;
      }

      &__td:first-child,th:first-child {
        
      }  

      &__td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 15px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
      }

      &__td-img {
        border-bottom:none;
        width: auto;
      }

      &__item-name {
        padding-left:0;
      }
    
      &__orderBtn {
        margin-bottom: 20px;
      }
    }
  }

  @media #{$catalog_size3}{
    .catalog-table__item-img-wrap {
      width: auto;
      
    }
  }

  &_cutters {
    @media #{$catalog_size2} {
      .catalog-table__td:nth-of-type(1):before { content: "Наименование"; }
      .catalog-table__td:nth-of-type(3):before { content: "Державка"; }
      .catalog-table__td:nth-of-type(4):before { content: "Пластина"; }
      .catalog-table__td:nth-of-type(5):before { content: "Цена"; }
      .catalog-table__td:nth-of-type(6):before { content: "Наличие"; }
    }
  } 

  &_plates {
    @media #{$catalog_size2} {
      .catalog-table__td:nth-of-type(1):before { content: "Наименование"; }
      .catalog-table__td:nth-of-type(2):before { content: "Размер"; }
      .catalog-table__td:nth-of-type(3):before { content: "Производитель"; }
      .catalog-table__td:nth-of-type(4):before { content: "Примечание"; }
      .catalog-table__td:nth-of-type(5):before { content: "Цена"; }
      .catalog-table__td:nth-of-type(6):before { content: "Наличие"; }
    }
  } 
}

      
