$sitewrap_size1: "only screen and (max-width : 1600px)";

html {
  // height:100%;
  
}

body {
  background-color:#eee;
  // height:100%;
  // min-height:100%;
  // position:relative;
}

.sitewrap {
  max-width:1600px;
  min-width:320px;
  margin:0 auto;
  position:relative;
  
  // @media #{$sitewrap_size1} {
  //   position:absolute;
  //   left:0;
  //   top:0;
  //   width: 100%;
  //   height: 100%;
  // }

  &_menu-open {
    //margin-left: 240px;
    overflow-x: hidden;
    //transition: left 0.2s linear;
  }

  &__inner {
    position:relative;
  }


}