$footer_size1: "only screen and (max-width : 1200px)";
$footer_size2: "only screen and (max-width : 950px)";
$footer_size3: "only screen and (max-width : 750px)";
$footer_size4: "only screen and (max-width : 460px)";

.footer {
  // position: absolute;
  // bottom: 0;
  // left: 0;
  // width: 100%;
  display:block;
  height: 114px;
  background-color: #363636;
  background-image: url('/img/footer-bg.jpg');
  background-repeat:no-repeat;
  background-position:top center;

  @media #{$footer_size4} {
    height: 200px;
  }

	&__inner {
    width:1200px;
    margin:0 auto;
    padding-top:31px;
    font-size:0;

    @media #{$footer_size1} {
      width: 100%;
    }

    @media #{$footer_size4} {
      position: relative;
      padding-top: 22px;
    }
  }

  &__logo {
    display:inline-block;
    vertical-align:top;
    padding-left: 22px;
    box-sizing:border-box;
    width:35%;

    @media #{$footer_size4} {
      position: absolute;
      top: 127px;
      padding-left: 12px;
    }
  }

  &__logo-img {
    width:135px;
  }

  &__logo-year {
    color: #ff5400;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 5px;

    @media #{$footer_size4} {
      margin-top: 5px;
    }
  }

  &__info {
    display:inline-block;
    vertical-align:top;
    width:65%;

    @media #{$footer_size4} {
      width: 100%;
      padding-left: 15px;
      box-sizing:border-box;
    }
  }

  &__delivery {
    display:inline-block;
    vertical-align:top;
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;    

    @media #{$footer_size2} {
      display: block;
      text-align: right;
      padding-right: 68px;
      margin-bottom: 10px;
    }

    @media #{$footer_size3} {
      font-size: 14px;
      padding-right: 45px;
      margin-bottom: 13px;
    }

    @media #{$footer_size4} {
      text-align: left;
    }
  }

  &__contacts {
    display:inline-block;
    vertical-align:top;
    float:right;
    padding-right: 33px;
    box-sizing:border-box;

    @media #{$footer_size4} {
      float: none;
    }
  }

  &__contacts-line {
    margin-bottom:10px;
  }

  &__contacts-phone {
    display:inline-block;
    vertical-align:top;
    color: #ffffff;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    text-decoration:none;

    @media #{$footer_size3} {
      font-size: 14px;
    }
  }

  &__contacts-email {
    display:inline-block;
    vertical-align:top;
    color: #fac832;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    margin-left: 30px;
    text-decoration:none;

    @media #{$footer_size3} {
      font-size: 14px;
    }
  }

  &__contacts-address {
    color: #d1d1d1;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;

    @media #{$footer_size3} {
      font-size: 14px;
    }
  }

}