$header_size1: "only screen and (max-width : 1200px)";
$header_size2: "only screen and (max-width : 975px)";
$header_size3: "only screen and (max-width : 650px)";
$header_size4: "only screen and (max-width : 575px)";
$header_size5: "only screen and (max-width : 353px)";

.header {
  display:block;
  height: 165px;
  background-image: url('/img/header-bg1.jpg');
  background-repeat:no-repeat;
  background-position:top center;
  border-bottom: 1px solid #ef7f39;

  @media #{$header_size1} {
    height: 112px;
  }

  @media #{$header_size3} {
    height: 101px;
  }

  @media #{$header_size4} {
    height: 180px;
    background-image: url(/img/header-bg-mob.jpg);
  }

  &__inner {
    width: 1200px;
    margin:0 auto;
    position:relative;

    @media #{$header_size1} {
      width: 100%;
    }
  } 

  &__logo {
    display: inline-block;
    vertical-align: top;
    padding-top: 32px;
    margin-left: 23px;

    @media #{$header_size2} {
      padding-top: 19px;
      margin-left: 95px;
    }

    @media #{$header_size3} {
      margin-left: 81px;
      padding-top: 19px;
      text-align: center;;
    }
  }

  &__logo-img {
    @media #{$header_size1} {
      width:200px;
    }
  }

  &__menu {
    display: inline-block;
    vertical-align: top;
    margin-top: 82px;
    margin-left: 45px;

    @media #{$header_size1} {
      margin-top: 58px;
    }

    @media #{$header_size2} {
      display:none;
    }
  }

  &__menu-items {
    font-size: 0;
  }

  &__menu-item {
    display:inline-block;
    vertical-align:top;
    margin:0 25px;
    position:relative;

    @media #{$header_size1} {
      margin:0 12px;
    }
  }

  &__menu-item:first-child {
    display:inline-block;
    vertical-align:top;
    margin-left:0;
  }

  &__menu-item:last-child {
    display:inline-block;
    vertical-align:top;
    margin-right:0;
  }

  &__menu-item:hover {
    
  }

  &__menu-item-link {
    color: #ffffff;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    text-decoration:none;
    padding: 5px 1px;    
  }

  &__menu-item:hover &__menu-item-link, &__menu-item-link_active{
    border-bottom:2px solid #f77f43;
  }

  &__menu-sub {
    position: absolute;
    top: 20px;
    left: 0;
    width: 237px;
    padding-top: 16px;
    max-height: 0;
    transition: none;
    overflow: hidden;
    z-index: 1000;
  }

  &__menu-item:hover &__menu-sub{
    max-height: 500px;
    padding-bottom: 11px;
    transition: 0.7s max-height linear; 
    
  }

  &__menu-sub-item {
    display: block
  }

  &__menu-sub-bottom {
    display: block;
    height: 10px;
    background-color: #353535; 
  }

  &__menu-sub-item-link {
    color: #ffffff;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    padding: 11px 14px;
    display: block;
    background-color: #353535;  
  }

  &__menu-sub-item-link:hover {
    background-color: #555;
  }

  &__contacts {
    display: inline-block;
    vertical-align: top;
    float: right;
    width: 314px;
    height: 111px;
    background-color: #333333;
    background-image: url('/img/yellow-gray-line.png');
    background-repeat:no-repeat;
    background-position:0 0;
    padding-left: 16px;
    padding-top:25px;
    box-sizing: border-box;

    @media #{$header_size2} {
      background-color:transparent;
    }

    @media #{$header_size3} {
      width: 281px;
      background-image: none;
      text-align: left;
      margin-top: 13px;
      padding-top: 8px;
      padding-bottom: 10px;
      background-color: rgba(238, 238, 238, 0.05);
      height: auto;
    }

    @media #{$header_size4} {
      display: block;
      width: 100%;
      padding-bottom: 15px;
      padding-left: 88px;
    }

    @media #{$header_size5} {
      padding-left: 30px;
    }
  }    

  &__contacts-line {

  }

  &__contacts-phone {
    display:inline-block;
    vertical-align:top;
    color: #ffffff;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    text-decoration:none;

    @media #{$header_size3} {
      font-size: 16px;
    }
  }

  &__contacts-email {
    display:inline-block;
    vertical-align:top;
    color: #fac832;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    text-decoration:none;
    margin-left: 22px;

    @media #{$header_size3} {
      font-size: 16px;
    }
  }

  &__contacts-address {
    color: #d1d1d1;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;

    @media #{$header_size3} {
      font-size: 14px;
      margin-top: 5px;
    }

    @media #{$header_size4} {
      margin-top: 7px;
    }
  }

  &__contacts-delivery {
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    margin-top: 12px;

    @media #{$header_size3} {
      font-size: 14px;
      font-weight: 400;
      margin-top: 5px;
    }

    @media #{$header_size4} {
      margin-top: 9px;
    }
  }

  &__recall {
    display:none;
    position:absolute;
    top:0;
    right:0;
    width: 314px;
    height: 124px;
    background-color: #333333;
  }

  &__recall-title {
    color: #fac832;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 400;
  }

  &__recall-text {
    color: #ffffff;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 400;
  }

  &__recall-btn {
    width: 289px;
    height: 33px;
    line-height:33px;
    background-color: #fe8708;
    text-align:center;
    color: #ffffff;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 400;
  } 

}