$maincat_size1: "only screen and (max-width : 1200px)";
$maincat_size2: "only screen and (max-width : 975px)";
$maincat_size3: "only screen and (max-width : 750px)";
$maincat_size4: "only screen and (max-width : 620px)";
$maincat_size5: "only screen and (max-width : 460px)";

.maincat {

  width: 1178px;
  margin:0 auto;
  padding-bottom:10px;
  padding-top:30px;

  @media #{$maincat_size1} {
    width: 100%;
    padding-top: 30px;
    box-sizing: border-box;
  }

  @media #{$maincat_size5} {
    background-color:#fff;
  }

  &_last {
    padding-bottom:80px;
  }

  &__head {
     @media #{$maincat_size1} {
      box-sizing:border-box;
      padding: 0 4%;
    }

   
  }

  &__title {
    display: inline-block;
    vertical-align: top;
    color: #434343;
    font-family: Roboto;
    font-size: 37px;
    font-weight: 400;

  }

  .search-form {
    display: inline-block;
    vertical-align: top;
    float: right;
    margin-top: 9px;

    @media #{$maincat_size3} {
      float: none;
      display: block;
      margin-top: 18px;
    }

    &__inp {
      display: inline-block;
      vertical-align: top;
      font-family: Roboto;
      font-weight: 400;
      font-size: 16px;
      color: #444;
      line-height: 30px;
      height: 31px;
      box-sizing:border-box;
      padding: 0;
      padding-left: 10px;
      border: 1px solid #cbcbcb;
      width: 300px;
      outline: none;

      @media #{$maincat_size3} {
        width: 230px;
      }
    }

    &__btn {
        display: inline-block;
        vertical-align: top;
        width: 31px;
        height: 30px;
        margin: 0 auto;
        background-color: #00aeef;
        background-image: url('/img/search.png');
        background-repeat:no-repeat;
        background-position:4px 5px;
        text-align: center;
        color: #ffffff;
        border: none;   
    }

    &__btn:hover {
      background-color:#1dc0fd;
    }
  }

  &__items {
    margin-top:32px;
    font-size:0;

    @media #{$maincat_size1} {
      box-sizing:border-box;
      padding: 0 4%;
    }

    @media #{$maincat_size2} {
      
    }

    @media #{$maincat_size5} {
     
    }
  }

  &__item {
    display:inline-block;
    vertical-align: top;
    width: 379px;
    height: 164px;
    margin:0 10px;
    margin-bottom: 16px;
    background-color: #ffffff;
    font-size:0;
    

    @media #{$maincat_size1} {
      width: 32%;
      margin: 0px 1%;
      margin-bottom: 16px;
    }

    @media #{$maincat_size2} {
      width: 48%;
      margin: 0px 1%;
      margin-bottom: 16px;
    }

    @media #{$maincat_size3} {
      display:block;
      width:100%;
    }

    @media #{$maincat_size5} {
      border-bottom: 1px solid #f6f5f5;
      padding-bottom: 13px;
      margin-bottom: 10px;
    }
  }

  &__item_first {
    margin-left:0;

    @media #{$maincat_size2} {
      margin: 0px 1%;
      margin-bottom: 16px;
    }

    @media #{$maincat_size5} {
      border-bottom: 1px solid #f6f5f5;
      padding-bottom: 13px;
      margin-bottom: 10px;
    }
  }

  &__item_last {
    margin-right:0;

    @media #{$maincat_size2} {
      margin: 0px 1%;
      margin-bottom: 16px;
    }

    @media #{$maincat_size5} {
      border-bottom: 1px solid #f6f5f5;
      padding-bottom: 13px;
      margin-bottom: 10px;
    }
  }

  &__allcats {
    display:block;
    width: 299px;
    height: 36px;
    line-height:36px;
    margin:0 auto;
    background-color: #00aeef;
    text-align:center;
    color: #ffffff;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 400;
    margin-top:15px;
    text-decoration:none;

    @media #{$maincat_size2} {
      display: inline-block;
      vertical-align: top;
      width: 48%;
      height: 164px;
      margin: 0px 1%;
      margin-bottom: 16px;
      box-sizing: border-box;
      padding-top: 45px;
      padding-left: 141px;
      background-image: url(/img/allcatalog.png);
      background-repeat: no-repeat;
      background-position: 27px 39px;
      font-size: 25px;
      font-weight: 300;
      text-align: left;
    }

    @media #{$maincat_size3} {
      display:block;
      width: 299px;
      height: 36px;
      line-height:36px;
      margin:0 auto;
      padding:0;
      background-color: #00aeef;
      background-image: none;
      text-align:center;
      color: #ffffff;
      font-family: Roboto;
      font-size: 17px;
      font-weight: 400;
      margin-top:15px;
      text-decoration:none;
    }
  }

  &__allcats:hover{
    background-color:#00baff;
  }

  &__item-clm1 {
    display:inline-block;
    vertical-align:top;
    width:50%;
    height:100%;
    padding-top: 12px;

    @media #{$maincat_size1} {
      width: 40%;
    }

    @media #{$maincat_size3} {
      width:30%;
    }
    @media #{$maincat_size4} {
      width:40%;
    }
  }

  &__item-clm2 {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 100%;
    position: relative;
    padding-top: 14px;
    padding-left: 7px;
    padding-right: 20px;
    box-sizing: border-box;

    @media #{$maincat_size1} {
      width: 60%;
      padding-right: 10px;
    }

    @media #{$maincat_size3} {
      width:45%;
      margin-left:25%;
      padding-right: 25px;
    }

    @media #{$maincat_size4} {
      width: 60%;
      margin-left:0;
      padding-right: 10px;
    }

    @media #{$maincat_size4} {
      padding-right: 30px;
    }

    @media #{$maincat_size5} {
      padding-right: 5px;
    }
  }

  &__item-img-wr {
    position: relative;
    overflow: hidden;
    width: 108px;
    height: 111px;
    margin: 0 auto;
  }

  &__item-img {
    position:absolute;
    top:0;
    left:0;
  }

  &__item-status {
    color: #ff5400;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    margin-top: 12px;
    text-align: center;

    @media #{$maincat_size1} {
      font-size: 12px;
    }
  }  

  &__item-title {
    color: #292727;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    height: 40px;
    text-decoration: none;
  }

  &__item-title:hover{
    color: #ff8400;
  }

  &__item-params {
    margin-top: 11px;
    padding-left: 4px;
  }

  &__item-param {
    padding: 4px 0;
  }

  &__item-param-name {
    display:inline-block;
    vertical-align:top;
    color: #7d7d7d;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
  }

  &__item-param-val {
    display:inline-block;
    vertical-align:top;
    float:right;
    color: #121212;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
  }

  &__item-bottom {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    padding-left: 9px;
    padding-right: 20px;
    box-sizing: border-box;

    @media #{$maincat_size1} {
      padding-right: 10px;
    }

    @media #{$maincat_size3} {
      padding-right: 25px;
    }

    @media #{$maincat_size4} {
      padding-right: 30px;
    }

    @media #{$maincat_size5} {
      padding-right: 5px;
    }
  }

  &__item-price {
    display:inline-block;
    vertical-align:top;
    color: #392c10;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height:25px;
  }

  &__item-orderBtn {
    display:inline-block;
    vertical-align:top;
    float:right;
    width: 84px;
    height: 25px;
    line-height:25px;
    background-color: #a43013;
    text-align:center;
    color: #ffffff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
  }

  &__item-orderBtn:hover, &__item-orderBtn:focus{
    background-color:#cd2d05;
  }

}