$mainslider_size1: "only screen and (max-width : 1200px)";
$mainslider_size2: "only screen and (max-width : 1100px)";
$mainslider_size3: "only screen and (max-width : 960px)";
$mainslider_size4: "only screen and (max-width : 700px)";
$mainslider_size5: "only screen and (max-width : 592px)";
$mainslider_size6: "only screen and (max-width : 414px)";

.main-slider {
  position:relative;

  .slick-list {
    overflow:hidden;
  }

  &__dots {
    position: absolute;
    bottom: 10px;
    right: 50%;
    margin-right: 38px;
    z-index: 1000;

    @media #{$mainslider_size1} {
      right: 630px;
      margin-right: 0;
    }

    @media #{$mainslider_size4} {
      bottom: 8px;
      right: 50%;
      margin-right: -8px;
    }    

    li {
      display: inline-block;
      vertical-align: top;
      margin: 0 6px;
      width: 14px;
      height: 14px;
      border-radius: 7px;
      background-color: #7a2f01;      
    }

    .slick-active {
      background-color:#a44105;
    }

    button {
      display: none;
    }
  }

  &__slide {
    height: 280px;        
    display: inline-block;
    vertical-align: top;

    &_cutters {
      background-image: url('/img/main-cutters-bg.jpg');
      background-position:top center;

      @media #{$mainslider_size5} {
        background-position: -390px 0;
      }
    }

    &_plates {
      background-position:top center;
      background-image: url('/img/main-plates-bg.jpg');

      @media #{$mainslider_size2} {
        background-position:-230px 0;
      }

      @media #{$mainslider_size3} {
        background-position:-630px 0;
      }

      @media #{$mainslider_size5} {
        background-position: -850px 0;
      }
    }
  }

  &__slide-inner {
    width: 1200px;
    margin:0 auto;

    @media #{$mainslider_size1} {
      width: 100%;
    }
  }

  &__slide-info {
    display: inline-block;
    width: 592px;
    height: 136px;
    float: right;
    margin-top: 144px;
    padding: 21px;
    padding-right: 30px;
    box-sizing: border-box;
    box-shadow: 4px -3px 5px rgba(131, 131, 131, 0.47);
    background-color: rgba(255, 132, 0, 0.94);
    color: #ffffff;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;

    @media #{$mainslider_size5} {
      width: 100%;
      font-size: 18px;
      line-height: 24px;
      padding: 20px;
      height: 124px;
      margin-top: 156px;
    }

    @media #{$mainslider_size6} {
      height: 168px;
      margin-top: 113px;
    }
  }

}