$catalog_size1: "only screen and (max-width : 750px)";

.catalog {
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding-top: 30px;
  box-sizing: content-box;

  &__title {
    color: #434343;
    font-family: Roboto;
    font-size: 37px;
    font-weight: 400;
    padding:0 40px;    
  }

  &__table-wrap {
    padding:0 40px;
    padding-top:30px;
    padding-bottom:50px;
    
  } 

  .dataTables_filter {
    margin-bottom:20px;

    input[type="search"] {
      font-family: Roboto;
      font-weight: 400;
      font-size: 16px;
      color: #444;
      line-height: 31px;
      padding: 0;
      padding-left: 10px;
      border: 1px solid #cbcbcb;
    }
  }

  .catalog-table {

    &__item-name {      
      color: #282828;
      font-family: Roboto;
      font-size: 17px;
      font-weight: 400;
    }

    &__item-derj {
      color: #282828;
      font-family: Roboto;
      font-size: 17px;
      font-weight: 400;
    }

    &__item-plast {
      color: #282828;
      font-family: Roboto;
      font-size: 17px;
      font-weight: 400;
    }

    &__item-price {
      color: #282828;
      font-family: Roboto;
      font-size: 17px;
      font-weight: 400;
    }

    &__item-stock {
      color: #282828;
      font-family: Roboto;
      font-size: 17px;
      font-weight: 400;
    }

    &__item-img-wrap {
      width: 345px;
      
    }

    &__item-img1 {
      display: inline-block;
      vertical-align: top;      
    }

    &__item-img2 {
      display: inline-block;
      vertical-align: top;
      margin-left: 10px;
    }

    &__td-img {
      width: 400px;
      padding-left: 40px;
      box-sizing:border-box;
    }

    &__th-name {
      background-position:140px 27px;
    }

    &__th-derj {
      background-position:95px 27px;
    }

    &__th-plast {
      background-position:88px 27px;
    }

    &__th-price {
      background-position:50px 27px;
    }

    &__th-stock {
      background-position:81px 27px;
    }

    &__th-img {
      background-image:none!important;
    }

    &__td-img {
      
    }

  }

  /* 
  Generic Styling, for Desktops/Laptops 
  */
  table { 
    width: 100%; 
    border-collapse: collapse; 
  }

  thead {
    border-bottom:2px solid #282828;  
  }

  tr {
    background-color: #fff;
  }

  thead tr {
      background-color: #444;
      height: 70px;
  }

  tbody tr {
    border-bottom:1px solid #eee;
  }

  th { 
    color: #fff;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 700;
    outline: none;
    cursor: pointer;  
  }

  th:hover {
    color: #ddd;
  }

  .sorting_asc {
    background-image: url('/img/sort_asc.png');    
    background-repeat:no-repeat;
    color: #dc7133;   
  }

  .sorting_asc:hover {
    color: #dc7133;
  }

  .sorting_desc {
    background-image: url('/img/sort_desc.png');    
    background-repeat:no-repeat;
    color: #dc7133;
  }

  .sorting_desc:hover {
    color: #dc7133;
  }

  td, th { 
    padding: 6px; 
    text-align: left; 
  }

  td:first-child,th:first-child {
    padding-left:15px;
  }
  
  /* 
  Max width before this PARTICULAR table gets nasty
  This query will take effect for any screen smaller than 760px
  and also iPads specifically.
  */
  @media #{$catalog_size1}  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr { 
      display: block; 
    }
    
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    
    tr { border: 1px solid #ccc; }
    
    td { 
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee; 
      position: relative;
      padding-left: 50%; 
    }
    
    td:before { 
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%; 
      padding-right: 10px; 
      white-space: nowrap;
    }
    
    /*
    Label the data
    */
    td:nth-of-type(1):before { content: "First Name"; }
    td:nth-of-type(2):before { content: "Last Name"; }
    td:nth-of-type(3):before { content: "Job Title"; }
    td:nth-of-type(4):before { content: "Favorite Color"; }
    td:nth-of-type(5):before { content: "Wars of Trek?"; }
    td:nth-of-type(6):before { content: "Porn Name"; }
    td:nth-of-type(7):before { content: "Date of Birth"; }
    td:nth-of-type(8):before { content: "Dream Vacation City"; }
    td:nth-of-type(9):before { content: "GPA"; }
    td:nth-of-type(10):before { content: "Arbitrary Data"; }
  }
}